{% extends "base/index.html" %}


{% block title %} Blog {% endblock title %}



{% block content %}

    <div class="mt-3">
        <div class="row mb-3">
            <a href="{% url 'inicio:crear'%}" class="btn btn-primary float-right">
                Crear nuevo post
            </a>
        </div>
    </div>
    {% if post %}

        {% for posts  in post %}

            {% if forloop.first %} <div class="row">{% endif %}
            <div class="col-4">
                <div class="card">
                    <img  height="200" class="card-img-top" src="{{ posts.imagen.url }}" alt="{{ posts.titulo }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ posts.titulo }}</h5>
                        <hr>
                        <h6 class="card-subtitle">Autor: {{ posts.autor.username }}</h6>
                        <p class="card-text">Categoría: {{ posts.categoria.nombre }}</p>
                    </div>
                    <div class="card-footer">
                        {% if user == posts.autor %}
                        <a href="{% url 'inicio:eliminar' posts.id%}" class="btn btn-danger">Eliminar post</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
            {% if forloop.last %} </div>{% endif %}
    {% endfor %}
    {% include "paginacion.html" %}
    {% else %}
        <div class="alert alert-danger">No hay nada aquí</div>
    {% endif %}


{% endblock content %}