<div class="row mt-3 justify-content-center">
    <nav>
        <ul class="pagination">
            {% if post.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">Primera</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ post.previous_page_number }}">&laquo;</a>
                </li>
            {% endif %}

<!--            #mostrar las paginas-->

            {% for pagina in paginas %}
                <li class="page-item{% if pagina_actual == pagina %} active {% endif %}">
                    <a href="?page={{ pagina }}" class="page-link">{{ pagina }}</a>
                </li>
            {% endfor %}


            {% if post.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ post.next_page_number }}">&raquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ post.paginator.num_pages }}">Última</a>
                </li>
            {% endif %}

        </ul>
    </nav>
</div>